<!DOCTYPE html>
<html>
<!-- Copyright (c) 2015 SAP AG, All Rights Reserved -->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ appTitle }}</title>

	<script id="sap-ui-bootstrap"
			src="../resources/sap-ui-core.js"
			data-sap-ui-theme="sap_fiori_3"
			data-sap-ui-language="en"
			data-sap-ui-resourceroots='{"saptemplates": "../", "saptemplates.test": "./"}'
			data-sap-ui-oninit="module:saptemplates/test/initFlpSandboxMockServer"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-async="true"
			data-sap-ui-preload="async"
			data-sap-ui-frameOptions="allow"> // NON-SECURE setting for testing environment
	</script>
</head>

<body class="sapUiBody" id="content">
</body>
</html>
